<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Artificial Intelligence Assignment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="font-size:48pt; font-family:arial; color:#990000; font-weight:bold">Web Opinion Visualiser</div>
<p></p>
<h2>Please read the following carefully</h2>
<p>
    The &quot;ignore words&quot; file is located at <span style="color: red; ">
    <b> <span th:text="${file.getAbsolutePath()}"></span></b>
    </span> and is
    <b><u><span th:text="${file.length()}"></span></u></b>
    bytes in size.
    You must place any additional files in the <b>res</b> directory and access them in the same way as the set of ignore words.
<p>
    Place any additional JAR archives in the WEB-INF/lib directory. This will result in Tomcat adding the library of classes
    to the CLASSPATH for the web application context. Please note that the JAR archives <b>jFuzzyLogic.jar</b>, <b>encog-core-3.4.jar</b> and
    <b>jsoup-1.12.1.jar</b> have already been added to the project.
<p>
    <b>Note:</b>
    <br>
    <i>This example was created using Intellij.</i>
    <br>
    SpringBoot uses Maven for dependency management so you dont need to add any jars. Well except the <b>jFuzzyLogic.jar</b>
    as for some reason this Maven dependency doesnt work (at least on my machine). To add jar:
<ul>
    <li>Open project structure (Ctrl + Shit + Alt + s)</li>
    <li>Select <i>Libraries</i></li>
    <li>Then <b>+</b> (at the top near the middle</li>
    <li>Select <i>Java</i></li>
    <li>brows to <b>jFuzzyLogic.jar</b> location. </li>
</ul>

<p>
<fieldset>
    <legend><h3>Result</h3></legend>
    <img th:src="'data:image/png;base64,'+ ${cloudImage}"  alt="Word Cloud">
</fieldset>
<P>
    Maybe output some search stats here, e.g. max search depth, effective branching factor.....
<p>
    <p>Stats</p>
<span th:text="'query: ' + ${jobRequest}"></span>

<p>
    <a href="./">Return to Start Page</a>


    <!--<h1>Result</h1>-->
<!--<p th:text="'id: ' + ${greeting.id}" />-->
<!--<p th:text="'content: ' + ${greeting.content}" />-->
<!--<a href="/greeting">Submit another message</a>-->
</body>
</html>