<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GMIT - Artificial Intelligence Assignment - Web Opinion Visualiser</title>
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:href="@{style.css}"/>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div style="text-align: center;">
    </p>&nbsp;</p>&nbsp;</p>

<div class="animated bounceInDown" style="font-size:48pt; font-family:arial,serif; color:#990000; font-weight:bold">
    Web Opinion Visualiser -
    <span th:text="'Hello, ' + ${message}"></span>
</div>

</p>&nbsp;</p>&nbsp;</p>

<table width="600" cellspacing="0" cellpadding="7" border="0">
    <tr>
        <td valign="top">

<!--            <form bgcolor="white" method="POST" action="doProcess">-->
            <form bgcolor="white" action="#" th:action="@{/}" th:object="${jobRequest}" method="post">
                <fieldset>
                    <legend><h3>Specify Details</h3></legend>

                    <b>Select Option:</b>
                    <p>
                        You should make the most of the ability to configure a search with different algorithms and heuristics. You can employ fuzzy logic or machine
                        learning if you like.

                    <p>
                        <label>
                            <select name="cmbOptions" th:field="*{cmbOptions}">
                                <option th:value="1">Option 1</option>
                                <option th:value="2" selected>Option 2</option>
                                <option th:value="3">Option 3</option>
                            </select>
                        </label>
                    <p>

                        Only use the following JARs with your application. You can assume that they have already been added to the Tomcat CLASSPATH:
                    <p>
                    <ol>
                        <li><a href="https://jsoup.org">JSoup</a>
                        <li><a href="http://jfuzzylogic.sourceforge.net/html/index.html">JFuzzyLogic</a>
                        <li><a href="https://github.com/jeffheaton/encog-java-core">Encog</a>
                    </ol>


                    <p></p>

                    <b>Enter Text :</b><br>
                    <label>
                        <input name="query" size="100" type="text" th:field="*{query}">
                    </label>
                    <p></p>

                    <div style="text-align: center;"><input type="submit" value="Search & Visualise!"></div>
                </fieldset>
            </form>

        </td>
    </tr>
</table>
</div>
</body>
</html>
